[Desktop Entry]
Encoding=UTF-8
Name=Link to Résultat de recherche d'images pour "maison penche amsterdam"750 × 562
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiR5sik2fHmAhVNDOwKHQneCxgQjRx6BAgBEAQ&url=https%3A%2F%2Ftrotteurs-addict.com%2Fun-week-end-a-amsterdam%2F&psig=AOvVaw07mj3T3-j_pQvz0gp91APH&ust=1578493559501996
Icon=text-html
